<article *ngIf="planet">
  <form class="container" #form="ngForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name:</label>
      <input id="name" name="name" [(ngModel)]="planet.name">
    </div>
    <div>
      <label for="population">Population:</label>
      <input id="population" name="population" [(ngModel)]="planet.population">
    </div>
    <div>
      <button type="submit">Update</button>
      <button type="button" (click)="form.resetForm(original)">Reset</button>
    </div>
  </form>
</article>
