<article *ngIf="star">
  <h2>Star details</h2>
  <div>
    <label>Name:</label>
    <label>{{star.name}}</label>
  </div>
  <div>
    <label>Age:</label>
    <label>{{star.age}}</label>
  </div>
  <h3>Planets</h3>
  <table *ngIf="planets">
    <thead>
    <tr>
      <th>Name</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let planet of planets.planets">
      <a [routerLink]="['/stars',star.id,'planets',planet.id]">{{planet.name}}</a>
      <td>
        <button (click)="onDelete(planet)">Delete</button>
      </td>
      <td>
        <a [routerLink]="['/stars',star.id,'planets',planet.id, 'edit']">Edit</a>
      </td>
    </tr>
    <tr>
      <a [routerLink]="['/stars',star.id,'planets','create']">[Add new]</a>
    </tr>
    </tbody>
  </table>
</article>
