<article *ngIf="star">
  <h2>Star details</h2>
  <table>
    <tr>
      <td>
        <label>Name:</label>
      </td>
      <td>
        <label>{{star.name}}</label>
      </td>
    </tr>
    <tr>
      <td>
        <label>Age:</label>
      </td>
      <td>
        <label>{{star.age}}</label>
      </td>
    </tr>
  </table>

  <h3>Planets</h3>
  <table *ngIf="planets">
    <tbody>
    <tr *ngFor="let planet of planets.planets">
      <td>
      <a [routerLink]="['/stars',star.id,'planets',planet.id]">{{planet.name}}</a>
      </td>
      <td>
        <button (click)="onDelete(planet)">Delete</button>
      </td>
      <td>
        <a [routerLink]="['/stars',star.id,'planets',planet.id, 'edit']" class="button-link">Edit</a>
      </td>
    </tr>
    <tr>
      <a [routerLink]="['/stars',star.id,'planets','create']" class="button-link">Add new</a>
    </tr>
    </tbody>
  </table>
</article>
